body {
  /* main colours */
  background-color: #201E1F;
}

h1 {
  color: #FEEFDD;
}

h2 {
  color: #FEEFDD;
}

h3 {
  color: #FEEFDD;
}

p {
  color: #FEEFDD;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  top: 0;
}

.rest {
  /* gives the rest of the page a margin of 30px */
  margin: 30px;
}

.center-text {
  /* centers text */
  text-align: center;
}

.topnav {
  /* styles the navbar at the top */
  background-color: #FAAA8D;
  overflow: hidden;
  margin: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #D4E4BC;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #A41623;
  color: white;
}

/* makes the navbar stick to the top when scrolling */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .rest {
  padding-top: 30px;
}

.item1 { grid-area: leftmain; }
.item2 { grid-area: middlemain; }
.item3 { grid-area: rightmain; }
.item4 { grid-area: footer; }
.item5 { grid-area: left2; }
.item6 { grid-area: right2; }

.grid-container {
  display: grid;
  grid-template-areas:
    'leftmain middlemain rightmain'
    'left2 left2 right2'
    'footer footer footer';
  grid-template-columns: 42.5% 42.5% 15%;
  justify-content: space-evenly;
  grid-column-gap: 20px;
  padding: 3px;
}

.grid-container > div {
  padding: 20px 0;
}

/* Dropdown Button */
.dropbtn {
  background-color: #FAAA8D;
  color: rgb(0, 0, 0);
  padding: 8px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #D4E4BC;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #A41623;
  color:rgb(255, 255, 255);
}