{% extends 'layout.html' %} {% block main %}
<h3>A bit about the Greek Era:</h3>
<p>
  Classical Greek architecture is highly formalised in structure and decoration
  and is best known for its temples. The Greek architectural style can be
  divided into 3 seperate orders: the Doric Order, the Ionic Order, and the
  Corinthian Order.
</p>
<p>
  <b>The Doric Order</b> developed on mainland Greece and spread to Italy. Doric
  coloums almost always feature fluting down the length of the column, numbering
  up to 20 flutes. The flutes meet at sharp edges, called arrises. Doric columns
  typically have no bases, with the exception of a few examples dating from the
  Hellenistic period. Pediments in the Doric style were decorated with figures
  in relief in early examples; however, by the time the sculptures on the
  Parthenon were created, many pediment decorations were freestanding. <br />
  The Parthenon is considered the most important surviving building of classical
  Greece and the zenith of Doric Order architecture. It is a former temple on
  the Athenian Acropolis dedicated to the patron goddess of Athens, Athena.
  Construction began on the Parthenon in 447 BCE, when the Athenian Empire was
  at its peak. Construction was completed in 438 BCE, but decoration of the
  building continued until 432 BCE. Although most architectural elements of the
  Parthenon belong to the Doric Order, a continuous sculptured frieze in low
  relief that sits above the architrave belongs to the Ionic style.
</p>
<p>
  <b>The Ionic Order</b> coexisted with the Doric Order and was favored by Greek
  cities in Ionia, Asia Minor, and the Aegean Islands. It did not evolve into a
  clearly defined style until the mid-5th century BCE. Early Ionic temples in
  Asia Minor were particularly ambitious in scale. <br />
  Ionic Order columns are fluted with narrow, shallow flutes that do not meet at
  a sharp edge, but have a flat band between them. The usual number of flutes is
  24, but there can be as many as 44. The architrave is not always decorated,
  but more often it rises in three outwardly-stepped bands. The frieze runs in a
  continuous band and is separated from other members by rows of small
  projecting blocks. <br />
  The Ionic Order is lighter in appearance than the Doric Order, with columns
  that have a 9:1 ratio, and the diameter and the whole entablature appears much
  narrower and less heavy than those of the Doric. Decorations were distributed
  with some variation, and Ionic entablatures often featured formalized bands of
  motifs. The external frieze often contained a continuous band of figurative
  sculpture of ornament, though this was not always the case. Caryatids—draped
  female figures used as supporting members to the entablature—were also a
  feature of the Ionic Order.
</p>
<p>
  <b>The Corinthian Order</b> grew directly from the Ionic in the mid-5th
  century BCE, and was initially of a very similar style and proportion, with
  the only distinguishing factor being its more ornate capitals. The capitals of
  the Corinthian Order were much deeper than those of the Doric and Ionic
  Orders. They were shaped like a bell-shaped mixing bowl and ornamented with a
  double row of acanthus leaves above which rose splayed, voluted tendrils. The
  ratio of column height to diameter of the Corinthian Order is generally 10:1,
  with the capital taking up more than a tenth of the height. The ratio of
  capital height to diameter is generally about 1:16:1. <br />
  Initially the Corinthian Order was used internally in such sites as the Temple
  of Apollo Epicurius at Bassae. By the late 300s, features of the Corinthian
  Order began to be used externally at sites such as the Choragic Monument of
  Lysicrates and the Temple of Zeus Olympia, both in Athens. During the
  Hellenistic period, Corinthian columns were sometimes built without fluting.
  The Corinthian Order became popular among the Romans, who added a number of
  refinements and decorative details.
</p>

<h3>Characteristics:</h3>
<p>
  - Tall Columns <br />
  - Intricate detail <br />
  - Symmetry <br />
  - Harmony <br />
  - Balance <br />
  - Aesthetic idealism to give perfect vision <br />
  - Proportional
</p>
<h3>Some Famous Classical Greek Buildings:</h3>
<p>
  - Temple of Olympian Zeus, Athens <br />
  <img
  src="/static/images/temple of olympian Zeus.jpeg"
  alt="Temple of Olympian Zeus"
  width="400px"
  /> <br />
  - Parthenon, Acropolis <br />
  <img
  src="/static/images/parthenon.jpeg"
  alt="Parthenon"
  width="400px"
  /><br />
  - Odeon of Herodes Atticus, Acropolis <br />
  <img
  src="/static/images/Odeon-of-Herodes-Atticus.webp"
  alt="Odeon of Herodes Atticus"
  width="400px"
  /> <br />
  - Temple of Hera, Olympia <br />
  <img
  src="/static/images/temple of hera.jpeg"
  alt="Temple of Hera"
  width="400px"
  />
</p>
{% endblock main %}
