{% extends 'layout.html' %} {% block main %}
<div class="grid-container">
  <div class="grid-item item5">
    <h3>A bit about the Hellenistic Era:</h3>
    <p>
      The Hellenistic period was an era in Ancient Greece that lasted from 
      323 BCE to 31 CE. Hellenistic architecture, in a manner similar 
      to Hellenistic sculpture, focuses on theatricality, drama, and the 
      experience of the viewer. Public spaces and temples were created with 
      the people in mind, and so were built on a new, monumental scale. <br>
      By this time, there were pretty much enough Greek temples. 
      Most towns already had one, and many towns had a lot of temples. 
      So instead of building so many temples, Greek people, started to build 
      a lot of other types of large public buildings. They built many more 
      theaters, and also gymnasia (like our gyms, places to exercise), and, 
      because this was a time with a lot of fighting, also a lot of forts. 
      They built some big impressive tombs for their leaders. <br>
      After Alexander of Macedon conquered the Persian Empire in the 300s BC, 
      Greek architecture reached all across West Asia and North Africa and even 
      into India. There was a lot of interest in town planning, and architects 
      planned a lot of new towns with carefully laid out straight streets and 
      public squares. <br>
      After about 250 BC, however, there was not so much building, because 
      the Hellenistic kingdoms were not rich enough anymore to pay for big 
      public buildings. That didn’t change until the Roman Empire conquered 
      Greece and West Asia in the 100s BC.
    </p>

    <h3>Characteristics:</h3>
    <p>
      - Theatricality <br>
      - Drama <br>
      - The experience of the viewer <br>
      - The division of Alexander's empire <br>
      - The spread of Greek culture and language <br>
      - The flourishing of the arts, science and philosophy
    </p>
  </div>  <!-- grid-item item5 -->
  <div class="grid-item item6">
    <h3>Some Famous Classical Hellenistic Buildings:</h3>
    <p>
      The Temple of Delphic Oracle and priestess Pythia <br>
      <img
        src="/static/images/temple of Delphic Oracle.jpeg"
        alt="Temple of Delphic Oracle and priestess Pythia"
        width="220px"
      /> <br>
      Acropolis of Athens <br>
      <img
        src="/static/images/Acropolis of Athens.jpeg"
        alt="Acropolis of Athens"
        width="220px"
      /> <br>
    </p>
  </div>    <!-- grid-item item6 -->
</div>    <!-- grid-container -->
{% endblock main %}