{% extends 'layout.html' %}
{% block main %}
  <div class="grid-container">
    <div class="grid-item item1">
      <h3>Different Classical Eras and Timeline:</h3>
      <p>- Greek (700-323BCE) <br>- Hellenistic (323-146BCE) <br>- Roman (44BCE-476CE)</p>
      <h3>A bit about the Classical Era:</h3>
      <p>
        The Classical Era is derived from the architecture of Ancient Greece and Ancient Rome.
        It was constructed in the 5th century BC in Greece and in the 3rd cenury AD in Rome.
        The era emphasised the column and pediment and evolved from timber origins. The style was
        revived many times over the years. During the Italin renaissance, architects worked to 
        restore Classical Roman Architecture.
      </p>
      <h3>Characteristics of the Classical Era:</h3>
      <p>
        - Symmetry <br>
        - Columns <br>
        - Rectangular Windows <br>
        - Marble or some other attractive, durable stone
      </p>
    </div>
    <div class="grid-item item2">
      <h3>Classical Architecture Architects</h3>
      <p>---coming soon---</p>
      <h3>Fun facts about the era:</h3>
      <p>---coming soon---</p>
    </div>
    <div class="grid-item item3">
      <h3>Images</h3>
      <img src="/static/images/roman-colosseum.jpeg" alt="Colosseum" width="200px">
      <p></p>
      <img src="/static/images/greek-column.jpeg" alt="Greek Column" width="200px">
      <p></p>
      <img src="/static/images/hellenistic-structure.jpeg" alt="Hellenistic Stucture" width="200px">
    </div>
  </div>
{% endblock main %}

<!--
  <div class="grid-container">
    <div class="grid-item item1">1</div>  
    <div class="grid-item item2">2</div>
    <div class="grid-item item3">3</div>
    <div class="grid-item item4">4</div>
  </div>  
-->