<!-- finds out what page is active -->
{% macro nav_item(path, text, alternatives=[]) %}  
  <a href="{{ path }}" {% if request.path in alternatives or request.path == path %}class="active"{% endif %}>{{ text }}</a>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/styles.css" media="screen" />
  <title>Classical Eras</title>
</head>
<body>
  <h1>Classical Architectural Eras</h1>
  <div id="navbar" class="topnav"> 
    {{ nav_item('/', 'HOME', ['/home']) }}
    {{ nav_item('/greek', 'GREEK') }}
    {{ nav_item('/hellenistic', 'HELLENISTIC') }}
    {{ nav_item('/roman', 'ROMAN') }}
  </div>  <!-- topnav -->
  <div class="rest"> <!-- extends to the different pages using main -->
    {% block main %} {% endblock main %}
  </div>  <!-- rest -->

  {% block script %}
  <script> // allows sticky navbar on pages
    window.onscroll = function() {stickyNav()}; 
    
    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;
    
    function stickyNav() {
      if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
      } else {
        navbar.classList.remove("sticky");
      }
    }
  </script>
  {% endblock script %}
</body>
</html>