<!-- finds out what page is active -->
{% macro nav_item(path, text, alternatives=[]) %}  
  <a href="{{ path }}" {% if request.path in alternatives or request.path == path %}class="active"{% endif %}>{{ text }}</a>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/styles.css" media="screen" />
  <title>Classical Eras</title>
</head>
<body>
  <h1>Classical Architectural Eras</h1>
  <div class="topnav">
    {{ nav_item('/', 'Home Page') }}
    {{ nav_item('/greek', 'Greek Page') }}
    {{ nav_item('/hellenistic', 'Hellenistic Page') }}
    {{ nav_item('/roman', 'Roman Page') }}
  </div>
  
  {% block main %} {% endblock main %}
</body>
</html>