{% extends 'layout.html' %}
{% block main %}
<div class="grid-container">
  <div class="grid-item item5">
    <h3>A bit about the Roman Era:</h3>
    <p>
      Roman architecture is well-known for its use of ancient Greek classical architecture 
      combined with their own innovation to create buildings that suited their needs. Roman 
      architecture is considered to be the styles and design used between 509BC to the 4th 
      century AD. The originality in Roman architecture appeared in the Imperial Period's 
      beginnings when Greek, Etruscan, and classical architecture was combined. Roman 
      architecture is famous for its domes, arches, amphitheaters, temples, thermaes 
      (bath houses), atriums, aqueducts, apartments, houses, and for many other factors 
      that made it unique. Art was often carved into the walls of stone buildings depicting 
      battles, and famous Romans.
    </p>
    <h3>Characteristics:</h3>
    <p>
      - 
    </p>
  </div>    <!-- grid-item item5 -->
</div>    <!-- grid-container -->
{% endblock main %}